In [74]:
import pandas as pd
from src.connecting_db import connect
from sqlalchemy import create_engine , text

In [2]:
engine = connect()

In [3]:
query = '''SELECT table_name
FROM information_schema.tables
WHERE table_type = 'BASE TABLE';
'''
tables = pd.read_sql(query,engine)

In [4]:
tables

        table_name
0        purchases
1   vendor_invoice
2    end_inventory
3  begin_inventory
4  purchase_prices
5            sales

In [5]:
for table in tables['table_name']:
    print(f"{'=='*30} {table} {'=='*20}\n")
    print(f"Count of total values",pd.read_sql(f"select count(*) as count from {table}",engine)['count'].values[0])
    display(pd.read_sql(f'select top 5 * from {table}',engine))

============================================================ purchases ========================================

Count of total values 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

============================================================ vendor_invoice ========================================

Count of total values 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

============================================================ end_inventory ========================================

Count of total values 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

============================================================ begin_inventory ========================================

Count of total values 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

============================================================ purchase_prices ========================================

Count of total values 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

============================================================ sales ========================================

Count of total values 8918075

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

In [6]:
purchase = pd.read_sql("select * from purchases where VendorNumber =388 ",engine)
purchase_prices = pd.read_sql("select * from purchase_prices where VendorNumber =388 ",engine)
vendor_invoice = pd.read_sql("select * from vendor_invoice  where VendorNumber =388 ",engine)
sales  = pd.read_sql("select * from sales where VendorNo =388 ",engine)

In [7]:
sales['SalesDate']=pd.to_datetime(sales['SalesDate'])
sales['year']=sales['SalesDate'].dt.year
sales['month']=sales['SalesDate'].dt.month
num_month = {
    1: "jan",
    2: "feb",
    3: "mar",
    4: "apr",
    5: "may",
    6: "jun",
    7: "jul",
    8: "aug",
    9: "sep",
    10: "oct",
    11: "nov",
    12: "dec"
}
sales['mapped_col']=sales['month']
sales['mapped_col']=sales['mapped_col'].map(num_month)

monthly_sales=sales.groupby(['Brand','year','mapped_col','Description'])[['SalesDollars','SalesPrice','SalesQuantity']].sum().reset_index()
overall_sales=sales.groupby(['Brand','Description'])[['SalesDollars','SalesPrice','SalesQuantity']].sum().reset_index()

In [8]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [9]:
freight_summary= pd.read_sql('''
select 
VendorNumber
,VendorName,sum(Freight) as total_freight
from vendor_invoice
group by
VendorNumber,
VendorName
order by total_freight desc''',engine)

In [10]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,2034,Glendalough Double Barrel,32.99,750mL,750,1,21.32,388,ATLANTIC IMPORTING COMPANY
1,2119,Glendalough 13 Yr Sngle Malt,89.99,750mL,750,1,66.40,388,ATLANTIC IMPORTING COMPANY
2,7241,Glendalough Poitin Shry Cask,34.99,750mL,750,2,20.68,388,ATLANTIC IMPORTING COMPANY

In [11]:
purchase

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1
1,42_BLACK HOLLOW_2034,42,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8249,2023-12-30,2024-01-06,2024-01-11,2024-02-18,21.32,30,639.60,1
2,79_BALLYMENA_2034,79,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8249,2023-12-30,2024-01-09,2024-01-11,2024-02-18,21.32,35,746.20,1
3,32_MOUNTMEND_2034,32,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8249,2023-12-30,2024-01-05,2024-01-11,2024-02-18,21.32,6,127.92,1
4,50_MOUNTMEND_2034,50,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8249,2023-12-30,2024-01-06,2024-01-11,2024-02-18,21.32,6,127.92,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,70_KELD_2034,70,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,13624,2024-12-22,2024-12-27,2025-01-06,2025-02-07,21.32,6,127.92,1
262,1_HARDERSFIELD_2034,1,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,13624,2024-12-22,2024-12-31,2025-01-06,2025-02-07,21.32,6,127.92,1
263,32_MOUNTMEND_2034,32,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,13624,2024-12-22,2024-12-27,2025-01-06,2025-02-07,21.32,6,127.92,1
264,59_CLAETHORPES_2034,59,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,13624,2024-12-22,2024-12-28,2025-01-06,2025-02-07,21.32,6,127.92,1
265,51_ABERDEEN_2034,51,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,13624,2024-12-22,2024-12-30,2025-01-06,2025-02-07,21.32,6,127.92,1

In [12]:
print(purchase.columns)
print(purchase_prices.columns)

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')
Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [13]:
query = """SELECT
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    PurchasePrice,
    pp.Volume,
    pp.Price AS Actual_price,
    SUM(p.Quantity) AS Total_Purchase_quantity,
    SUM(p.Dollars) AS Total_Purchase_Dollars
FROM purchases p
INNER JOIN purchase_prices pp
    ON p.Brand = pp.Brand
GROUP BY 
    p.VendorNumber,
    p.VendorName,
    p.Brand;
"""

purchase_summary = pd.read_sql(query,engine)

In [42]:
query1 = """SELECT
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.PurchasePrice,
    pp.Volume,
    pp.Price AS Actual_price,
    SUM(p.Quantity) AS Total_Purchase_quantity,
    SUM(p.Dollars) AS Total_Purchase_Dollars
FROM purchases p
INNER JOIN purchase_prices pp
    ON p.Brand = pp.Brand
where p.PurchasePrice>0
GROUP BY 
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.PurchasePrice,
    pp.Volume,
    pp.Price;

"""

purchase_summary_copy = pd.read_sql(query1,engine)

In [43]:
purchase_summary_copy

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,Actual_price,Total_Purchase_quantity,Total_Purchase_Dollars
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,23.86,750,36.99,8,190.88
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,17.00,162.5,24.99,320,5440.00
2,54,AAPER ALCOHOL & CHEMICAL CO,990,105.07,3750,134.49,1,105.07
3,60,ADAMBA IMPORTS INTL INC,771,11.44,750,14.99,39,446.16
4,60,ADAMBA IMPORTS INTL INC,3401,11.10,1750,14.99,6,66.60
...,...,...,...,...,...,...,...,...
10687,173357,TAMWORTH DISTILLING,2804,32.14,750,44.99,210,6749.40
10688,173357,TAMWORTH DISTILLING,3666,18.79,375,24.99,520,9770.80
10689,173357,TAMWORTH DISTILLING,3848,23.30,750,30.99,28,652.40
10690,173357,TAMWORTH DISTILLING,3909,19.37,750,24.99,1232,23863.84
10691,201359,FLAVOR ESSENCE INC,90609,17.00,162.5,24.99,1,17.00

In [46]:
pd.read_sql_query('''
select
VendorNo,
Brand,
sum(SalesDollars) as Total_sales_Dollars,
sum(SalesQuantity) as Total_sales_Quantity,
sum(SalesPrice) as Total_sales_Price,
sum(ExciseTax) as Total_ExciseTax
from sales
group by VendorNo,Brand
order by Total_sales_Price
''',engine)

,VendorNo,Brand,Total_sales_Dollars,Total_sales_Quantity,Total_sales_Price,Total_ExciseTax
0,8004,5341,5.39,11,0.49,0.58
1,3924,9123,1.98,2,0.99,0.10
2,9206,2773,0.99,1,0.99,0.05
3,480,3144,7.92,8,0.99,0.42
4,8004,5683,65.66,134,1.47,7.04
...,...,...,...,...,...,...
11267,480,3857,1167097.82,22418,413609.26,41191.64
11268,3960,8680,1232229.91,30809,430614.43,56606.75
11269,17035,2589,1561257.90,38010,444529.49,69838.94
11270,9165,3650,1420081.98,29602,472208.84,23306.29
11271,1128,1233,3420235.53,95647,483334.64,175740.01

In [44]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName', 'year', 'month', 'mapped_col'],
      dtype='object')

In [52]:
final_query = """
WITH freight_summary AS (
    SELECT 
        VendorNumber,
        VendorName,
        SUM(Freight) AS Total_Freight
    FROM vendor_invoice
    GROUP BY VendorNumber, VendorName
),

purchase_summary AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.PurchasePrice,
        p.Description,
        pp.Volume,
        pp.Price AS Actual_price,
        SUM(p.Quantity) AS Total_Purchase_quantity,
        SUM(p.Dollars) AS Total_Purchase_Dollars
    FROM purchases p
    INNER JOIN purchase_prices pp
        ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY 
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Volume,
        pp.Price
),

sales_summary AS (
    SELECT
        VendorNo,
        Brand,
        SUM(SalesDollars) AS Total_Sales_Dollars,
        SUM(SalesQuantity) AS Total_Sales_Quantity,
        Sum(SalesPrice) AS Total_Sales_Price,
        SUM(ExciseTax) AS Total_ExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
)

SELECT
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.Description,
    p.PurchasePrice,
    p.Volume,
    p.Total_purchase_Quantity,
    p.Total_Purchase_Dollars,
    s.Total_Sales_Dollars,
    s.Total_Sales_Quantity,
    s.Total_Sales_Price,
    s.Total_ExciseTax,
    f.Total_Freight
FROM purchase_summary p
LEFT JOIN sales_summary s
    ON p.VendorNumber = s.VendorNo
   AND p.Brand = s.Brand
LEFT JOIN freight_summary f
    ON p.VendorNumber = f.VendorNumber
ORDER BY p.Total_Purchase_Dollars DESC;

"""

final_df = pd.read_sql(final_query,engine)

In [48]:
purchase_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Volume', 'Actual_price',
       'Total_Purchase_quantity', 'Total_Purchase_Dollars'],
      dtype='object')

In [49]:
purchase.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [53]:
final_df

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,Total_purchase_Quantity,Total_Purchase_Dollars,Total_Sales_Dollars,Total_Sales_Quantity,Total_Sales_Price,Total_ExciseTax,Total_Freight
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750,145080,3811251.60,3420235.53,95647.0,483334.64,175740.01,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750,164038,3804041.22,3170410.67,105129.0,401855.15,193163.89,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750,187407,3418303.68,3203354.58,131742.0,335878.56,242064.52,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750,201682,3261197.94,2696748.81,118719.0,302012.68,218136.42,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750,138109,3023206.01,2881736.61,92939.0,389346.42,170765.36,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11096,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,750,2,2.64,15.95,5.0,10.96,0.55,27100.41
11097,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,50,6,2.34,65.66,134.0,1.47,7.04,50293.62
11098,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,50,2,1.48,1.98,2.0,0.99,0.10,14069.87
11099,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,200,1,1.47,87.56,44.0,43.78,9.24,257032.07
11100,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,50,1,0.71,91.08,92.0,38.61,4.76,38994.78

In [54]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11101 entries, 0 to 11100
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   VendorNumber             11101 non-null  int64
 1   VendorName               11101 non-null  object
 2   Brand                    11101 non-null  int64
 3   Description              11101 non-null  object
 4   PurchasePrice            11101 non-null  float64
 5   Volume                   11101 non-null  object
 6   Total_purchase_Quantity  11101 non-null  int64
 7   Total_Purchase_Dollars   11101 non-null  float64
 8   Total_Sales_Dollars      10917 non-null  float64
 9   Total_Sales_Quantity     10917 non-null  float64
 10  Total_Sales_Price        10917 non-null  float64
 11  Total_ExciseTax          10917 non-null  float64
 12  Total_Freight            11101 non-null  float64
dtypes: float64(7), int64(3), object(3)
memory usage: 1.1+ MB

In [55]:
final_df.isnull().sum()

VendorNumber                 0
VendorName                   0
Brand                        0
Description                  0
PurchasePrice                0
Volume                       0
Total_purchase_Quantity      0
Total_Purchase_Dollars       0
Total_Sales_Dollars        184
Total_Sales_Quantity       184
Total_Sales_Price          184
Total_ExciseTax            184
Total_Freight                0
dtype: int64

In [56]:
final_df['VendorName']=final_df['VendorName'].str.strip()

In [57]:
final_df['Volume']=final_df['Volume'].astype('float64')

In [58]:
final_df.fillna(0,inplace=True)

In [59]:
final_df['VendorName'].unique()

array(['BROWN-FORMAN CORP', 'MARTIGNETTI COMPANIES', 'PERNOD RICARD USA',
       'DIAGEO NORTH AMERICA INC', 'BACARDI USA INC',
       'JIM BEAM BRANDS COMPANY', 'MAJESTIC FINE WINES',
       'ULTRA BEVERAGE COMPANY LLP', 'STOLI GROUP,(USA) LLC',
       'PROXIMO SPIRITS INC.', 'MOET HENNESSY USA INC', 'CAMPARI AMERICA',
       'SAZERAC CO INC', 'CONSTELLATION BRANDS INC', 'M S WALKER INC',
       'SAZERAC NORTH AMERICA INC.', 'PALM BAY INTERNATIONAL INC',
       'REMY COINTREAU USA INC', 'SIDNEY FRANK IMPORTING CO',
       'E & J GALLO WINERY', 'WILLIAM GRANT & SONS INC',
       'HEAVEN HILL DISTILLERIES', 'DISARONNO INTERNATIONAL LLC',
       'EDRINGTON AMERICAS', 'CASTLE BRANDS CORP.',
       'SOUTHERN WINE & SPIRITS NE', 'STE MICHELLE WINE ESTATES',
       'TRINCHERO FAMILY ESTATES', 'MHW LTD', 'WINE GROUP INC',
       'PERFECTA WINES', 'LUXCO INC', 'TREASURY WINE ESTATES',
       'DIAGEO CHATEAU ESTATE WINES', 'SHAW ROSS INT L IMP LTD',
       'PINE STATE TRADING CO', 'PHILLIPS PRODUCTS CO.',
       'CALEDONIA SPIRITS INC', 'STATE WINE & SPIRITS',
       'KOBRAND CORPORATION', 'BANFI PRODUCTS CORP',
       'VINEYARD BRANDS INC', 'DELICATO VINEYARDS INC',
       'FABRIZIA SPIRITS LLC', 'DUGGANS DISTILLED PRODUCTS',
       'Serralles Usa LLC', 'SEA HAGG DISTILLERY LLC',
       'OLE SMOKY DISTILLERY LLC', 'VRANKEN AMERICA', 'KLIN SPIRITS LLC',
       'LAIRD & CO', 'ADAMBA IMPORTS INTL INC',
       'LATITUDE BEVERAGE COMPANY', 'FREDERICK WILDMAN & SONS',
       'MCCORMICK DISTILLING CO', 'CHARLES JACQUIN ET CIE INC',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY',
       'AMERICAN VINTAGE BEVERAGE', 'MANGO BOTTLING INC',
       'SWEET BABY VINEYARD', 'NICHE W & S', 'LABELLE VYDS AND WINERY',
       'FLAG HILL WINERY & VINEYARD', 'SMOKY QUARTZ DISTILLERY LLC',
       'PREMIUM PORT WINES, INC.', 'Russian Standard Vodka',
       'Dunn Wine Brokers', 'WEIN BAUER INC', 'BULLY BOY DISTILLERS',
       'ATLANTIC IMPORTING COMPANY', 'PREMIER DISTRIBUTORS',
       'VINILANDIA USA', 'PARK STREET IMPORTS LLC', 'TAKARA SAKE USA INC',
       'SEA BREEZE CELLARS LLC', 'STARK BREWING COMPANY', 'TY KU LLC',
       'PSP WINES', 'TAMWORTH DISTILLING', 'ZORVINO VINEYARDS',
       'SOUTHERN GLAZERS W&S OF NE', 'HOOD RIVER DISTILLERS, Inc.',
       'CRUSH WINES', 'POVERTY LANE ORCHARDS', 'DJINN SPIRITS LLC',
       'MOONLIGHT MEADERY', 'TALL SHIP DISTILLERY LLC',
       'FORTUNE WINE BROKERS LLC', 'BLACK COVE BEVERAGES', 'VINEXTRA INC',
       'SURVILLE ENTERPRISES CORP', 'JEWELL TOWNE VINEYARDS',
       'SWEETWATER FARM', 'ALTAMAR BRANDS LLC', 'CANDIA VINEYARDS',
       'INCREDIBREW INC', 'ALISA CARR BEVERAGES',
       'STELLAR IMPORTING CO LLC', 'FULCHINO VINEYARD INC',
       'IRA GOLDMAN AND WILLIAMS, LLP', 'Circa Wines',
       'VINEDREA WINES LLC', 'BLACK PRINCE DISTILLERY INC',
       'VINEYARD BRANDS LLC', 'THE IMPORTED GRAPE LLC',
       'WALPOLE MTN VIEW WINERY', 'GILMANTON WINERY & VINEYARD',
       'HAUNTING WHISPER VYDS', 'STAR INDUSTRIES INC.',
       'LOYAL DOG WINERY', 'R.P.IMPORTS INC', 'THE PIERPONT GROUP LLC',
       'APPOLO VINEYARDS LLC', 'BLACK ROCK SPIRITS LLC',
       'CENTEUR IMPORTS LLC', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE', 'UNCORKED', 'BRONCO WINE COMPANY',
       'MILTONS DISTRIBUTING CO', 'TRUETT HURST', 'LAUREATE IMPORTS CO',
       'FANTASY FINE WINES CORP', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS', 'CAPSTONE INTERNATIONAL',
       'FLAVOR ESSENCE INC'], dtype=object)

In [ ]:
# final_df.to_sql("Vendor_sales_summary",engine)

In [60]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11101 entries, 0 to 11100
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   VendorNumber             11101 non-null  int64
 1   VendorName               11101 non-null  object
 2   Brand                    11101 non-null  int64
 3   Description              11101 non-null  object
 4   PurchasePrice            11101 non-null  float64
 5   Volume                   11101 non-null  float64
 6   Total_purchase_Quantity  11101 non-null  int64
 7   Total_Purchase_Dollars   11101 non-null  float64
 8   Total_Sales_Dollars      11101 non-null  float64
 9   Total_Sales_Quantity     11101 non-null  float64
 10  Total_Sales_Price        11101 non-null  float64
 11  Total_ExciseTax          11101 non-null  float64
 12  Total_Freight            11101 non-null  float64
dtypes: float64(8), int64(3), object(2)
memory usage: 1.1+ MB

In [61]:
final_df['Gross_profit'] = final_df['Total_Sales_Dollars']-final_df['Total_Purchase_Dollars']

In [64]:
final_df['ProfitMargin'] = (final_df['Gross_profit']/final_df['Total_Sales_Dollars'])*100

In [66]:
final_df["StockTurnOver"] = final_df['Total_Sales_Quantity']/final_df['Total_purchase_Quantity']

In [68]:
final_df['SalesToPurchaseRatio'] = final_df['Total_Sales_Dollars']/final_df['Total_Purchase_Dollars']

In [95]:
table_query='''
create table Vendor_summary_data(
VendorNumber INT,
VendorName VARCHAR(100),
Brand INT,
Description VARCHAR(100),
PurchasePrice DECIMAL(10,2),
ActualPrice DECIMAL(10,2),
Volume DECIMAL,
TotalPurchaseQuantity INT,
TotalPurchaseDollars DECIMAL(15,2),
TotalSalesQuantity INT,
TotalSalesDollars DECIMAL(15,2),
TotalSalesPrice DECIMAL(15,2),
TotalExciseTax DECIMAL(15,2),
FreightCost DECIMAL(15,2),
GrossProfit DECIMAL(15,2),
ProfitMargin DECIMAL(15,2),
StockTurnover DECIMAL(15,2),
SalesToPurchaseRatio DECIMAL(15,2),
PRIMARY KEY (VendorNumber, Brand)

);

'''

delete_table = '''
DROP TABLE IF EXISTS Vendor_summary_data;


'''

In [117]:
with engine.connect() as conn:
    conn.execute(text(table_query))
    conn.commit()

In [118]:
pd.read_sql("select * from Vendor_summary_data",engine)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, PurchasePrice, ActualPrice, Volume, TotalPurchaseQuantity, TotalPurchaseDollars, TotalSalesQuantity, TotalSalesDollars, TotalSalesPrice, TotalExciseTax, FreightCost, GrossProfit, ProfitMargin, StockTurnover, SalesToPurchaseRatio]
Index: []

In [ ]:
float_cols = final_df.select_dtypes(include='float').columns
for col in float_cols:
    final_df[col] = final_df[col].round(2)

In [119]:
final_df.to_sql("Vendor_summary_data",engine,if_exists="replace",index=False)

-1

In [113]:

import numpy as np

final_df["ProfitMargin"] = pd.to_numeric(final_df["ProfitMargin"], errors="coerce")
final_df["ProfitMargin"] = final_df["ProfitMargin"].replace([np.inf, -np.inf], 0)
final_df["ProfitMargin"] = final_df["ProfitMargin"].fillna(0).round(2)

In [107]:
final_df

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,Total_purchase_Quantity,Total_Purchase_Dollars,Total_Sales_Dollars,Total_Sales_Quantity,Total_Sales_Price,Total_ExciseTax,Total_Freight,Gross_profit,ProfitMargin,StockTurnOver,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750.0,145080,3811251.60,3420235.53,95647.0,483334.64,175740.01,68601.68,-391016.07,-11.43,0.66,0.90
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750.0,164038,3804041.22,3170410.67,105129.0,401855.15,193163.89,144929.24,-633630.55,-19.99,0.64,0.83
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750.0,187407,3418303.68,3203354.58,131742.0,335878.56,242064.52,123780.22,-214949.10,-6.71,0.70,0.94
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750.0,201682,3261197.94,2696748.81,118719.0,302012.68,218136.42,257032.07,-564449.13,-20.93,0.59,0.83
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750.0,138109,3023206.01,2881736.61,92939.0,389346.42,170765.36,257032.07,-141469.40,-4.91,0.67,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11096,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,750.0,2,2.64,15.95,5.0,10.96,0.55,27100.41,13.31,83.45,2.50,6.04
11097,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,50.0,6,2.34,65.66,134.0,1.47,7.04,50293.62,63.32,96.44,22.33,28.06
11098,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,50.0,2,1.48,1.98,2.0,0.99,0.10,14069.87,0.50,25.25,1.00,1.34
11099,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,200.0,1,1.47,87.56,44.0,43.78,9.24,257032.07,86.09,98.32,44.00,59.56
11100,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,50.0,1,0.71,91.08,92.0,38.61,4.76,38994.78,90.37,99.22,92.00,128.28